In [1]:
print("hello wolrd")

hello wolrd

In [3]:
len('hello')

5

In [4]:
len([1,2,4])

3

In [5]:
len((1,2,4,5))

4

In [7]:
s = set([1,24,53,24])

In [9]:
s.add(34)

In [10]:
s

{1, 24, 34, 53}

In [11]:
l = [2,3,5]

In [12]:
l.append(20)

In [13]:
print(l)

[2, 3, 5, 20]

In [14]:
l

[2, 3, 5, 20]

In [15]:
for item in l:
    print(item ** 2)

4
9
25
400

In [16]:
en = [item **2 for item in l]

In [17]:
en

[4, 9, 25, 400]

In [18]:
def sum(a, b):
    return a + b

In [19]:
sum(2,4)

6

In [21]:
def grade_checker(grade):
    if grade < 40:
        return "F"
    elif grade >= 40 and grade < 50:
        return "D"
    elif grade >= 50 and grade < 60:
        return "C"
    elif grade >=60 and grade < 70:
        return "B"
    else:
        return "A"

In [22]:
grade_checker(20)

'F'

In [23]:
grade_checker(51)

'C'

In [25]:
(4.0 * 8 + 3.0*4)/ (12)

3.6666666666666665

In [26]:
3.6666666666666665

3.6666666666666665

In [27]:
age = "45"

In [28]:
type(age)

str

In [29]:
age = 45

In [30]:
type(age)

int

In [31]:
type(3.142)

float

In [32]:
type([2,3,4])

list

In [33]:
type({1,3,4})

set

In [34]:
type(set([2,3,4]))

set

In [35]:
type({"age": 50, "color": "black"})

dict

In [36]:
d = {"age": 50, "color": "black"}

In [37]:
d

{'age': 50, 'color': 'black'}

In [39]:
d.setdefault("color", "red")

'black'

In [40]:
d.setdefault("height", 89)

89

In [41]:
d

{'age': 50, 'color': 'black', 'height': 89}

In [42]:
s = {1,2,3,5}

In [43]:
s

{1, 2, 3, 5}

In [44]:
spam = ["Selasi", "Alfred", "Anyomi", "John", "Snow"]

In [45]:
a = 8

In [46]:
b = 30

In [47]:
a, b = b, a

In [48]:
a

30

In [49]:
 b

8

In [50]:
temp = a
a = b
b = temp

In [51]:
a

8

In [52]:
b

30

In [53]:
spam

['Selasi', 'Alfred', 'Anyomi', 'John', 'Snow']

In [54]:
spam[0]

'Selasi'

In [55]:
spam[-2]

'John'

In [56]:
spam[5]

IndexError: list index out of range

In [57]:
spam

['Selasi', 'Alfred', 'Anyomi', 'John', 'Snow']

In [58]:
spam.sort()

In [59]:
spam

['Alfred', 'Anyomi', 'John', 'Selasi', 'Snow']

In [61]:
sorted(spam, reverse=True)

['Snow', 'Selasi', 'John', 'Anyomi', 'Alfred']

In [62]:
spam

['Alfred', 'Anyomi', 'John', 'Selasi', 'Snow']

In [63]:
spam.sort(reverse=True)

In [64]:
spam

['Snow', 'Selasi', 'John', 'Anyomi', 'Alfred']

In [66]:
spam[:]

['Snow', 'Selasi', 'John', 'Anyomi', 'Alfred']

In [67]:
spam[0:3]

['Snow', 'Selasi', 'John']

In [68]:
spam[0:-1]

['Snow', 'Selasi', 'John', 'Anyomi']

In [69]:
spam[0:]

['Snow', 'Selasi', 'John', 'Anyomi', 'Alfred']

In [70]:
spam[3:-1]

['Anyomi']

In [80]:
def factorial(n):
    # 5! = 5*4*3*2*1
    count = 1
    answer = 1
    while count <= n:
        answer = answer * count
        count = count + 1
    print(answer)

In [82]:
factorial(5)

120

In [83]:
def factorial(n):
    # 5! = 5*4*3*2*1
    answer = 1
    for count in range(1, (n+1) ):
        answer = answer * count
    print(answer)

In [84]:
factorial(5)

120

In [87]:
def factorial(n):
    if n == 1:
        return 1
    else:
        return n*factorial(n-1)

In [88]:
factorial(5)

120

In [90]:
1, 1, 2, 3, 5, 8, 13

(1, 1, 2, 3, 5, 8, 13)

In [91]:
# 0= 0th term, 1 = 1th , 1= 2nd, 2= 3rd, ..., n=nth
# 0,1,1,2,3,5,..., n
# 0=0, 1=1, 1 = 0 +1, 2 = 1 +1 , 3 = 1+2, ..., n-1 = (n-2)th + (n-3)th , n = (n-1)th + (n-2)th,

5

In [1]:
def fibo(n):
    if n == 0:
        return 0
    elif n == 1:
        return 1
    else:
        return fibo(n-1) + fibo(n-2)

In [2]:
fibo(0)

0

In [3]:
fibo(1)

1

In [4]:
fibo(2)

1

In [5]:
fibo(3)

2

In [6]:
fibo(4)

3

In [7]:
fibo(5)

5

In [8]:
4*3 = 4+4+4
# m *n = m + m +m ...+m nth
# 4 * 3 = 4 + multiply(4, 3-1=2)
#       = 4 + 4 + multiply(4, 2-1 = 1)
#       = 4 + 4 + 4
# Recursion

12

In [9]:
def multiply(m,n):
    if n == 1:
        return m
    return m + multiply(m, n-1)

In [10]:
multiply(4,3)

12

In [11]:
multiply(5, 4)

20

In [12]:
2 ** 3 == 2 * 2 * 2

True

In [ ]:
def expo(m,n):
    if n == 1:
        return m
    return m