In [1]:
# map, filter, reduce, lambda

In [2]:
# map
items = [1, 2, 3, 4, 5]
squared = []
for i in items:
    squared.append(i**2)
    
print(squared)

[1, 4, 9, 16, 25]

In [4]:
squared = [i**2 for i in items]

In [5]:
print(squared)

[1, 4, 9, 16, 25]

In [6]:
def square(number):
    return number ** 2

squared = map(square, items)
print(squared)

<map object at 0x7f32d0a45ee0>

In [8]:
for i in squared:
    print(i)

1
4
9
16
25

In [9]:
squared = map(lambda item: item **2, items)

In [10]:
for i in squared:
    print(i)

1
4
9
16
25

In [11]:
l = ["kojo", "ama", "akosu", "kofi", "kwame"]

In [12]:
def sum(a,b):
    return a + b

In [13]:
sum(3, 5)

8

In [14]:
sum = lambda a,b: a+b

In [15]:
sum(2, 5)

7

In [17]:
capitalized = lambda name: name.capitalize()

In [18]:
capitalized("john snow")

'John snow'

In [19]:
upper_case = lambda name: name.upper()

In [20]:
upper_case("akosua")

'AKOSUA'

In [21]:
def upper_case(name):
    return name.upper()

In [22]:
names = ["akos", "john",  "snow", "kafui", "kwame"]

In [23]:
new_names = map(lambda name: name.upper(), names)

In [24]:
for name in new_names:
    print(name)

AKOS
JOHN
SNOW
KAFUI
KWAME

In [26]:
coordinate = [(2, 4), (8, 5), (-2,5)]
# Give (x,y) transform into 180 degrees anticlockwise
# (x, y) -> (-x, -y)

In [45]:
def transformation_vector(item):
    x, y = item
    return (-x, -y)

transformed_coordinate = map(transformation_vector, coordinate)

In [46]:
for item in transformed_coordinate:
    print(item)

(-2, -4)
(-8, -5)
(2, -5)

In [47]:
# Give a list of tuples calculate reflection in the x axis
# (x, y) -> (x, -y)

In [1]:
coordinates = [(3,4), (-9, 10), (4, 2), (8, 16)]

In [2]:
#  reduce, [1, 4, 5 , 7]

In [3]:
numbers = [1, 4, 5 , 7]
sum = 0
for i in numbers:
    sum = sum + i
    
print(sum)

17

In [4]:
# 0 
# sum = 0 + 1
# sum = 1 + 4
# sum = 5 + 5
# sum = 10 + 7
# sum = 17

In [5]:
import functools
def add(a, b):
    return a + b
answer = functools.reduce(add, numbers)

In [6]:
print(answer)

17

In [7]:
answer = functools.reduce(add, numbers, 0)

In [8]:
print(answer)

17

In [9]:
answer = functools.reduce(add, numbers, 10)

In [10]:
print(answer)

27

In [11]:
answer = functools.reduce(lambda a,b: a + b, numbers, 10)

In [12]:
print(answer)

27

In [13]:
co = [(1,3,4), (2,1,8), (9,2,3), (1, 5, 7), (8, -2,3)]
# reduce list into one vector (x, y, z) using addition.

In [14]:
def addition(accumulator, each_tuple):
    x1, y1, z1 = each_tuple
    x2, y2, z2 = accumulator
    return (x1+x2, y1+y2, z1+z2)
answer = functools.reduce(addition, co, (0,0, 0))

In [15]:
print(answer)

(21, 9, 25)

In [16]:
coordinate = [(1,1), (2,3), (5,2)]

In [18]:
print(coordinate)

[(1, 1), (2, 3), (5, 2)]

In [2]:
payload = [
  {
    "id": "5b0fcebcb4fea40a51e66ef1",
    "item": "orange",
    "type": "fruit",
    "selling_price": 20,
    "cost_price": 5,
    "quantity": 4
  },
  {
    "id": "5b0fcebce0cbd5c82feefe03",
    "item": "rice",
    "type": "cereal",
    "selling_price": 25,
    "cost_price": 5,
    "quantity": 10
},
  {
    "id": "5b0fcebc02e2e05596d32645",
    "item": "maize",
    "type": "cereal",
    "selling_price": 10,
    "cost_price": 10,
    "quantity": 2
  },
  {
    "id": "5b0fcebc4c4f4723ff70df07",
    "item": "banana",
    "type": "fruit",
    "selling_price": 15,
    "cost_price": 15,
    "quantity": 8
  },
  {
    "id": "5b0fcebcab68c47c915b6c3d",
    "item": "millet",
    "type": "cereal",
    "selling_price": 20,
    "cost_price": 5,
    "quantity": 4
  }
]

In [3]:
payload

[{'id': '5b0fcebcb4fea40a51e66ef1',
  'item': 'orange',
  'type': 'fruit',
  'selling_price': 20,
  'cost_price': 5,
  'quantity': 4},
 {'id': '5b0fcebce0cbd5c82feefe03',
  'item': 'rice',
  'type': 'cereal',
  'selling_price': 25,
  'cost_price': 5,
  'quantity': 10},
 {'id': '5b0fcebc02e2e05596d32645',
  'item': 'maize',
  'type': 'cereal',
  'selling_price': 10,
  'cost_price': 10,
  'quantity': 2},
 {'id': '5b0fcebc4c4f4723ff70df07',
  'item': 'banana',
  'type': 'fruit',
  'selling_price': 15,
  'cost_price': 15,
  'quantity': 8},
 {'id': '5b0fcebcab68c47c915b6c3d',
  'item': 'millet',
  'type': 'cereal',
  'selling_price': 20,
  'cost_price': 5,
  'quantity': 4}]

In [4]:
# Given the above payload calculate total revenue and total cost

In [5]:
# Total Revenue(TR) = Price (CP) *Quantity (Q)
# Total Cost (TC) = Cost Price (CP) * Quantity (Q)

In [8]:
import functools
def callback(acc, item):
    acc["TR"] = acc["TR"] + item["selling_price"] * item["quantity"]
    acc["TC"] = acc["TC"] + item["cost_price"] * item["quantity"]
    return acc

initial_value = {"TR": 0, "TC": 0}
results = functools.reduce(callback, payload, initial_value)
print(results)
# Profit or loss = TR - TC > 0 you made profit if TR - TC < 0 loss
profit_loss = results["TR"] - results["TC"]
# 
print(profit_loss)

{'TR': 550, 'TC': 230}
320

In [10]:
names = ["Alfred", "Fred", "Anyomi", "Akos", "John doe"]

In [12]:
def find_name(name):
    return not name ==  "Alfred"
filtered_name = filter(find_name, names)
print(filtered_name)

<filter object at 0x7f14363bec10>

In [16]:
for name in filtered_name:
    print(name)

In [14]:
filtered = list(filtered_name)

In [15]:
print(filtered)

[]

In [17]:
filtered = list(filtered_name)

In [18]:
print(filtered)

[]

In [19]:
numbers = [3, 80, 50, 2, 21]

result = filter(lambda x: x % 2 == 0, numbers)

In [20]:
for n in result:
    print(n)

80
50
2