In [1]:
# map, filter, reduce, lambda

In [2]:
# map
items = [1, 2, 3, 4, 5]
squared = []
for i in items:
    squared.append(i**2)
    
print(squared)

[1, 4, 9, 16, 25]

In [4]:
squared = [i**2 for i in items]

In [5]:
print(squared)

[1, 4, 9, 16, 25]

In [6]:
def square(number):
    return number ** 2

squared = map(square, items)
print(squared)

<map object at 0x7f32d0a45ee0>

In [8]:
for i in squared:
    print(i)

1
4
9
16
25

In [9]:
squared = map(lambda item: item **2, items)

In [10]:
for i in squared:
    print(i)

1
4
9
16
25

In [11]:
l = ["kojo", "ama", "akosu", "kofi", "kwame"]

In [12]:
def sum(a,b):
    return a + b

In [13]:
sum(3, 5)

8

In [14]:
sum = lambda a,b: a+b

In [15]:
sum(2, 5)

7

In [17]:
capitalized = lambda name: name.capitalize()

In [18]:
capitalized("john snow")

'John snow'

In [19]:
upper_case = lambda name: name.upper()

In [20]:
upper_case("akosua")

'AKOSUA'

In [21]:
def upper_case(name):
    return name.upper()

In [22]:
names = ["akos", "john",  "snow", "kafui", "kwame"]

In [23]:
new_names = map(lambda name: name.upper(), names)

In [24]:
for name in new_names:
    print(name)

AKOS
JOHN
SNOW
KAFUI
KWAME

In [26]:
coordinate = [(2, 4), (8, 5), (-2,5)]
# Give (x,y) transform into 180 degrees anticlockwise
# (x, y) -> (-x, -y)

In [45]:
def transformation_vector(item):
    x, y = item
    return (-x, -y)

transformed_coordinate = map(transformation_vector, coordinate)

In [46]:
for item in transformed_coordinate:
    print(item)

(-2, -4)
(-8, -5)
(2, -5)

In [47]:
# Give a list of tuples calculate reflection in the x axis
# (x, y) -> (x, -y)